.span.woocommerce-Price-amount.amount {
    font-size: 14px;
    line-height: 16px;
}

/*my-account*/
.woocommerce-message, .woocommerce-error, .woocommerce-info {
    margin: 0;
}

button#wpua-add-existing {
    background: #fff !important;
    color: #555 !important;
    border: 1px solid rgba(0, 0, 0, .09) !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03) !important;
    text-transform: none;
    font-weight: normal;
}

.woocommerce-MyAccount-navigation ul li a {
    font-weight: normal !important;
}

.woocommerce-MyAccount-navigation ul li a:before {
    margin-right: .53em;
    text-align: left !important;
    float: left !important;
    opacity: .25;
}

img.avatar.avatar-96.wp-user-avatar.wp-user-avatar-96.alignnone.photo {
    border-radius: 50%;
}

ol.flex-control-nav.flex-control-thumbs {
    display: flex;
}

.flex-viewport {
    height: 100% !important;
}

/*home-page*/
.col_wrap_six .col_item {
    width: 16.6667% !important;
    margin: 0 !important;
}

.vc_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tparrows:before {
    margin-top: 0 !important
}

.buttom_cat_text {
    width: 90%;
    overflow: hidden;
    height: 2.5rem;
    margin-bottom: .625rem;
    text-align: center;
}

.buttom_cat_text-h3 {
    color: rgba(0, 0, 0, .8);
    font-size: .875rem;
    text-decoration: none;
    line-height: 1.25rem;
    max-height: 2.5rem;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.buttom_cat {
    display: flex;
    position: absolute;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttom_cat_img {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 70%;
    margin: 10%;
}

.buttom_cat_img_sub {
    height: 100%;
    position: relative;
}

.buttom_cat_img_sub_link {
    height: 100%;
    opacity: 1;
}

.cate_home {
    display: block;
    height: 302px;
    background: #fff;
    margin-top: 10px;
}

ul.ul_cate {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

li.li_cate {
    width: 10%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.li_a {
    height: 100%;
    display: block;
    width: 100%;
}

a.link_a {
    display: block;
    position: relative;
    height: 50%;
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

/*header*/
#pgwModal {
    z-index: 99999999 !important;
}

.header_wrap {
    background: linear-gradient(-180deg, #005005, #2e7d32);
}

.header-top {
    border-bottom: 0 !important;
}

.use_nam {
    align-items: center;
    display: flex;
}

.userblockintop {
    display: flex;
}

/*single product*/
p.stars {
    padding-top: 5px;
}

.col_wrap_fifth, .col_wrap_six {
    margin: 0 !important
}

.codinh {
    display: none;
}

.woo_top_meta.mobileblockdisplay.mb10 {
    display: inline-flex !important;
}

.woo-button-area.mb30 {
    display: flex;
}

.quick_buy_container {
    display: flex;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 140px;
}

.woocommerce div.product form.cart div.quantity, .ce_woo_blocks form.cart div.quantity {
    width: 60px;
}

.woocommerce form.cart .single_add_to_cart_button {
    max-width: 140px !important;
    text-transform: none;
    padding: 10px 2px;
}

.woocommerce div.product .single_add_to_cart_button, .woocommerce div.product .woo-button-area .masked_coupon {
    font-size: 14px !important;
}

.woocommerce .single_add_to_cart_button, .woocommerce div.product form.cart .button {
    width: 140px;
}

.quick_buy_container .wcqb_button {
    height: 37px;
    width: 140px;
    padding: 0 !important;
}

/*grid product*/
.woo_grid_compact figure:not(.notresized), .woo_grid_compact figure:not(.notresized) a.rh-flex-center-align {
    height: 160px;
}

.col_wrap_fifth .col_item {
    width: 20% !important;
    margin: 0 0 5px !important;
}

.woocommerce .products.grid_woo .product {
    padding: 0px !important;
}

.mt25 {
    margin-top: 0px !important;
}

.woocommerce .products .product figure img, .woocommerce-page .products .product figure img {
    height: 10em !important;
}

.woocommerce .products .woo_grid_compact h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    height: 36px;
    padding-left: 10px;
}

.woocommerce .products .product .price {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.postview {
    font-size: 13px;
    float: right;
}

.price_for_grid {
    min-height: 16px !important;
    width: 100%;
}

.woocommerce .floatright > .rh_woo_star {
    float: left;
}

.woocommerce .col_item .rh_woo_star span {
    font-size: 13px;
}

.product-meta {
    width: 100%;
}

/*text in product*/
.w30 {
    width: 30%;
    margin-left: 15px;
    float: left;
}

.w50 {
    width: 45%;
    margin-left: 3%;
    float: left;
}

.imgtext {
    text-align: left;
    margin: 0 auto;
    min-height: 300px;
    width: 810px;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    display: flow-root;
}

.imgright {
    position: absolute;
}

.textright {
    position: relative;
    float: right;
    right: 50px;
    margin-top: 50px;
    padding: 15px;
    color: black;
    width: 270px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
}

/*-------------------------*/
/*footer*/
.footer-bottom .footer_widget p {
    margin-bottom: 0;
    font-size: 100%;
}

.footer-bottom .footer_widget a {
    text-decoration: none;
}

.footer_widget .widget .title {
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
}

/*-------------------------*/
.tax-product_tag h1 {
    display: block;
}

.rh_woo_code_zone_content, .rh_woo_code_zone_button {
    border: 1px dashed #000;
    text-align: center;
    position: relative;
}

.compare-full-thumbnails a {
    width: 14%;
    border: 2px solid #e8e8e8;
}

.img-mobile {
    display: none;
}

.col_wrap_fourth .col_item {
    margin: 0 1% 10px;
}

.woocommerce .products.grid_woo .product {
    border-radius: 0 !important;
}

.menuIcon_mobile {
    fill: #ff4e0c;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.8rem;
}

#mobpaneltext {
    align-items: center;
    display: flex;
}

#mobpaneltext span {
    font-size: 0.8rem;
}

#slide-menu-mobile ul li.menu-item {
    /*display: flex !important;*/
    align-items: center;
}

#slide-menu-mobile ul li.menu-item > a {
    line-height: 18px !important;
    padding: 5px 20px;
    font-size: 0.8rem;
    font-weight: 400;
}

.rh-float-panel.floating {
    display: none;
}

.single article {
    background: #fff;
    padding: 10px;
}

.woocommerce-page a.add_to_cart_button {
    font: 700 13px/13px 'Roboto', trebuchet ms;
    text-transform: none;
}

.rh-deal-compact-btn {
    padding: 4px 5px !important;
}

.ce_woo_block_top_holder {
    display: inline-table;
    background: #fff;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
}

.ce_woo_blocks nav.woocommerce-breadcrumb {
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.woocommerce-breadcrumb span.delimiter {
    margin: 0 5px;
}

.woo-button-actions-area {
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 0;
    background: #fff;
}

.woo_top_meta.mobileblockdisplay.mb10 {
    display: inline-grid;
}

.mb10 {
    margin-bottom: 0px !important;
}

.woocommerce #reviews #comments .comment_container {
    padding: 5px;
}

.woocommerce #reviews #comments ol.commentlist li {
    margin: 0 0 10px;
}

.cart_totals h2 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.woocommerce table.shop_table td, .woocommerce table.shop_table th {
    padding: 0.2em .5em;
}

.woocommerce .products .product.woo_grid_compact .price del {
    display: inline-block;
}

.grid_desc_and_btn.rh-flex-center-align {
    display: inline-block;
}

.re_ajax_pagination {
    padding: 0;
}

.price_for_grid {
    min-height: 18px;
}

.grid_desc_and_btn.rh-flex-center-align {
    display: inline-block;
    width: 100%;
}

.rh-flex-right-align.btn_for_grid.floatright {
    display: block;
    width: 100%;
}

.woocommerce .products .woo_grid_compact .woo_loop_btn {
    font-size: 14px;
    width: 100%;
    height: 34px;
    line-height: 30px;
    border-radius: 0px !important;
}

.woocommerce .products .woo_grid_compact .woo_loop_btn i {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
}

.woocommerce .products .product.woo_grid_compact .price {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.border-top.mb15.mt15 {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
}

article h1 {
    font-size: 18px;
    line-height: 26px;
}

.single_add_to_cart_button.button.alt {
    margin-right: 10px;
}

.woocommerce-MyAccount-navigation {
    background: #fff;
    padding: 0 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

blockquote:not(.wp-block-quote) p {
    color: #333;
}

.related_articles {
    background: #fff;
}

.mxh {
    margin-left: 15px;
    display: inline-block;
}

.woocommerce .single_add_to_cart_button, .woocommerce div.product form.cart .button {
    background: #f7941d !important;
    border-radius: 0 !important;
}

.woo_cat_sec_description {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px;
}

.re-ribbon-badge.badge_20 span {
    background: #bc000b;
}

.woo-single-meta.font80 {
    margin-top: 10px;
}

.title h1 {
    margin: 0 0 5px;
}

.woocommerce-billing-fields {
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background: #fff;
}

.woocommerce-additional-fields {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 5px;
    margin-top: 8px;
    background: #fff;
}

.re_woocheckout_order {
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 10px;
}

#woocommerce_price_filter-3 {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    border: 1px solid #eee;
}

#woocommerce_layered_nav-9, #woocommerce_layered_nav-10 {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.woocommerce div.product .summary .price {
    color: #ff3425;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.woocommerce-product-details__short-description {
    font-size: 13px;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.content-detail{
    color: black;
}

.re_wooinner_title_compact {
    border-bottom: 1px solid #eee;
}

.rh_deal_block {
    padding: 15px;
}

#woocommerce_rating_filter-1 {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.woocommerce .woocommerce-ordering {
    margin: 0 !important;
}

nav.woocommerce-breadcrumb {
    border-bottom: 1px solid #eee;
}

header .main-nav, .main-nav.dark_style {
    background: rgba(16, 18, 15, 0.8) !important;
    border-bottom: 3px solid #57b13b;
}

nav.top_menu > ul:not(.off-canvas) > li.current-menu-item a {
    background: #57b13b;
}

nav.top_menu > ul > li > a {
    border-top: 0 !important;
}

.main-nav.dark_style nav.top_menu > ul > li {
    border-right: 0 !important;
}

.header_top_wrap.dark_style {
    background-color: rgba(50, 47, 55, 0.9) !important;
}

.wpsm-one-third {
    width: 40.66% !important;
}

.wpsm-two-third {
    width: 46.33% !important;
}

.availability {
    float: left;
    margin: 0 !important;
}

.sku {
    color: #f04057;
    font-weight: bold;
}

.post-meta {
    font-size: 13px !important;
}

nav.top_menu > ul > li > a {
    font-size: 14px !important;
}

.compare-button-holder .price {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -0.5px;
    padding: 0 0 15px 0;
    margin: 0;
}

.compare-button-holder .price span {
    color: #e5101d;
}

.boxcontact {
    display: none;
    background: #06a248;
    bottom: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0;
    text-align: center;
}

#place_order {
    background: #06a248 !important;
    box-shadow: none !important;
    height: 45px;
}

.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
    font-size: 1em !important;
}

.woocommerce .order_details li, .woocommerce-page .order_details li {
    border-bottom: 1px dashed #e0dadf;
    padding: .5em .7em !important;
    width: 100% !important;
}

.postmeta {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px;
}

nav.woocommerce-breadcrumb {
    margin: 0;
    line-height: 14px;
    border-bottom: 0 !important;
}

.woocommerce article h1 {
    margin: 0;
}

article p, .post p {
    margin: 0 0 10px 0;
}

.mb30 {
    margin-bottom: 0px !important;
}

.mb25 {
    margin-bottom: 0px !important;
}

.sidebar {
    border: 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    /*css header-mobile*/
    img.avatar.avatar-96.wp-user-avatar.wp-user-avatar-96.alignnone.photo {
        width: 40px;
    }

    span.inlinestyle.rehub-main-btn-bg.rehub-main-smooth.menu-cart-btn {
        background: none !important;
        box-shadow: none !important;
    }

    .use_nam, .user-dropdown-intop.rhhidden.showonmobile, .icon-search-onclick {
        display: none !important;
    }

    /*css homepage*/
    .re-ribbon-badge {
        top: 0 !important;
        right: 0 !important;
    }

    .buttom_home {
        display: flex;
        width: 25%;
        background: brown;
    }

    li.li_cate {
        width: 30% !important;
    }

    /*css dat hang */
    .codinh {
        display: flex !important;
        width: 100%;
        height: 48px;
        bottom: 0;
        position: fixed;
        background: #fff;
        z-index: 99999999;
    }

    .callnow {
        display: flex;
        width: 20%;
        background: brown;
    }

    a.acallnow {
        display: flex;
        font-size: 0.625rem;
        fill: #fff;
        color: #fff;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 5px;
    }

    svg#Capa_1 {
        width: 1.5rem;
        height: 1.5rem;
    }

    .dat-mua {
        display: flex;
        width: 80%;
    }

    .datngay {
        display: flex;
        width: 50%;
        background: #f7941d !important;
        color: #fff;
    }

    a.button_datngay {
        display: flex;
        font-size: 0.625rem;
        fill: #fff;
        color: #fff;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 5px;
    }

    .muangay {
        display: flex;
        width: 50%;
        height: 100%;
    }

    .muangay_bottom {
        display: flex;
        font-size: 1rem;
        fill: #fff;
        color: #fff;
        align-items: center;
        width: 100%;
        height: 48px;
        color: #fff !important;
        background: #e5101d !important;
        border-radius: 0 !important;
    }

    /*-------single--------*/
    .woocommerce-product-gallery {
        margin-bottom: 0px !important;
    }

    .w50 {
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .w30 {
        width: 100%;
        margin: 0;
        float: none;
    }

    .imgtext {
        width: 100% !important;
    }

    .imgright {
        position: initial !important;
    }

    .textright {
        position: initial !important;
        margin-top: 0 !important;
        padding: 0 !important;
        color: black;
        width: 100% !important;
    }

    #fb-root {
        display: none;
    }

    .rh-hover-up:hover {
        transform: none !important;
    }

    .wpsm-one-third {
        width: 100% !important;
    }

    .wpsm-two-third {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        background: #fff;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }

    .ce_woo_block_top_holder {
        margin-bottom: 10px;
    }

    .woo_bl_title.flowhidden.mb10 h1 {
        font-size: 18px;
        margin-bottom: 0 !important;
    }

    .woo_bl_title.flowhidden.mb10 {
        background: #fff;
        padding: 5px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }

    .rh-tabletext-block {
        border: 1px solid #e8e8e8;
        overflow: hidden;
        margin: 0 0 10px 0;
        box-shadow: none;
    }

    .button_action {
        display: none;
    }

    .mb15 {
        margin-bottom: 0px !important;
    }

    .mt25 {
        margin-top: 0px !important;
    }

    .woo_grid_compact figure:not(.notresized), .woo_grid_compact figure:not(.notresized) a.rh-flex-center-align {
        height: 130px;
    }

    .woocommerce .products.grid_woo .product {
        padding: 4px;
    }

    .col_item.two_column_mobile {
        margin: 0 0% 5px 0% !important;
        width: 50% !important;
    }

    .cat_for_grid.lineheight15 {
        display: none;
    }

    .woocommerce .products .woo_grid_compact h3 {
        line-height: 15px;
        height: 28px;
        font-size: 14px;
    }

    #float-panel-woo-area .rh-container {
        padding: 0 !important;
    }

    .woocommerce div.product .float-panel-woo-button .single_add_to_cart_button {
        padding: 14px 0 14px 0;
        font-size: 14px;
        border-radius: 0 !important;
    }

    .rh-flex-right-align {
        margin-left: 0;
    }

    #float-panel-woo-area {
        border-top: 0 !important;
        box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .2);
    }

    .woocommerce a.add_to_cart_button, .woocommerce-page a.add_to_cart_button, .woocommerce .single_add_to_cart_button {
        border-radius: 0 !important;
    }

    woocommerce-info {
        font-size: 13px;
        padding: 0.5em 0.5em 0.5em 3.5em !important;
        margin: 0 0 1em;
    }

    .woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }

    .re_woocheckout_order h3, .woocommerce-additional-fields h3, .woocommerce-billing-fields h3 {
        font-size: 14px;
        padding: 5px 0 5px 0 !important;
        margin: 0;
    }

    .payment_box.payment_method_bacs {
        display: none !important;
    }

    .woocommerce form .form-row, .woocommerce-page form .form-row {
        margin: 0;
    }

    .woocommerce table.shop_table.woocommerce-checkout-review-order-table thead th {
        padding: 0;
        font-size: 13px;
    }

    .woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li, .woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
        font-size: 13px;
    }

    .woocommerce .order_details li, .woocommerce-page .order_details li {
        padding: 0.5em;
    }

    .woocommerce .order_details, .woocommerce-page .order_details {
        margin: 0;
    }

    .woocommerce-order p {
        margin: 5px;
    }

    .wc-bacs-bank-details-heading {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .wc-bacs-bank-details-account-name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    #custom_html-1 {
        display: none;
    }

    input[type="text"], textarea, input[type="tel"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
        padding: 5px 5px;
        font: normal 16px/28px Roboto;
    }

    .boxcontact {
        display: block !important;
    }

    .woocommerce .button.alt {
        width: 100%;
    }

    .woocommerce .order_details li, .woocommerce-page .order_details li {
        padding: .5em !important;
    }

    .post ul {
        margin-bottom: 0px !important;
    }

    .woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
        height: 35px;
    }

    .woocommerce form.cart .single_add_to_cart_button {
        max-width: 160px;
    }

    .woocommerce div.product .single_add_to_cart_button {
        font: 700 14px/16px 'Roboto', trebuchet ms;
        padding: 10px 0px;
    }

    .mb25, .mb30 {
        margin-bottom: 0 !important;
    }

    .mt30, .mt15 {
        margin-top: 0 !important;
    }

    .rh-container {
        padding-left: 0;
        padding-right: 0;
    }

    .rh-content-wrap {
        padding-top: 5px;
        padding-bottom: 5px;
        background: #f1f1f1;
    }

    /*.select2-container .select2-selection--single .select2-selection__rendered{
font-size: 14px;
}*/
    #billing_state, .woocommerce-input-wrapper, .select2-container .select2-selection--single, .selection, .select2-container {
        font: normal 16px/28px Roboto;
    }

    .quick_buy_container .wcqb_button {
        display: none;
    }

    .rh-float-panel.floating {
        display: block;
    }

    #main_header #dl-menu .rh-header-icon {
        margin: 15px 15px;
    }

    .top_custom_content_mobile {
        font-size: 13px;
    }

    .img-mobile {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .8rem;
        display: inline-block;
    }

    #float-panel-woo-area .float-panel-woo-btn {
        margin: 5px 0 15px;
    }
}

@media only screen and (max-width: 1000px) {
    /* css search mobile*/
    #slide-menu-mobile .wpsm-one-fifth {
        padding: 10px 15px 0 15px;
    }

    .wpsm-one-fifth {
        margin-bottom: 0;
    }

    .dl-menuwrapper button i {
        font-size: 30px;
    }

    #slide-menu-mobile ul.off-canvas-active {
        z-index: 99999999;
        height: 100% !important;
    }

    #main_header .rehub-main-btn-bg {
        padding: 8px 5px;
    }

    #main_header #dl-menu .rh-header-icon {
        margin: 10px 4px 10px 8px;;
    }

    header .search {
        width: auto;
    }

    .search-header-contents form.search-form [type="submit"], .search-header-contents form.search-form .nice-select {
        line-height: 28px;
        height: 30px;
        width: 40px !important;
        background: #ffffff !important;
        color: #ff4e0c !important;
    }

    .search-header-contents form.search-form input[type="text"] {
        width: 100%;
        height: 30px;
        line-height: 28px;
        font-size: 16px;
        padding: 2px 37px 2px 10px;
    }

    .search-header-contents {
        width: 65%;
        background-color: #fff;
        box-shadow: none;
        position: absolute;
        left: 45px;
        top: 8px;
        right: 0;
        border-top: 0;
        padding: 0;
        text-align: center;
        visibility: visible;
        opacity: 1;
        border-radius: 10px;
    }

    /* form.search-form [type="submit"]{
background: #fff !important;
color: red !important;
}*/
    .rh-flex-right-align {
        margin-left: auto;
    }

    .dl-menuwrapper button {
        width: 40px;
        height: 45px;
    }

    .search-header-contents .re-aj-search-wrap {
        width: calc(100% + 70px);
    }

    .re-search-result-div {
        padding: 5px 0px;
    }

    .re-search-result-thumb img {
        max-height: 50px;
        max-width: 50px;
    }

    .re-search-result-thumb {
        width: 70px;
    }

    .re-search-result-info {
        width: calc(100% - 80px);
    }
}


/*vc_custom-css*/
body {
       background: #f1f1f1;
   }

@media only screen and (max-width: 767px) {
    .col_item.two_column_mobile {
        margin: 0 0% 5px 0% !important;
    }
}

@media (max-width: 479px) {
    body:not(.dark_body) {
        background: #f1f1f1 !important;
    }

    .woocommerce .products.grid_woo .product {
        border-radius: 0 !important;
    }

    .col_item.two_column_mobile {
        margin: 0 0% 5px 0% !important;
    }

    .col_item.two_column_mobile {
        width: 50% !important;
    }
}

.vc_column_container > .vc_column-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.rh-hover-up:hover {
    transform: none !important;
}

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 0;
}

.widget_nav_menu li {
    margin-bottom: 0px;
    line-height: 34px;
    height: 34px;

}

.menu-danhmuc-container {
    border: 1px solid #E65100;
}

.widget_nav_menu li a {
    text-decoration: none;
    line-height: 34px;
    height: 34px;
    display: block;
    padding-left: 10px;
}

.widget_nav_menu li:hover {

    color: #fff;
}

.widget_nav_menu li a:hover {
    color: #fff;
    background: #E65100;
}

.vc_column_container > .vc_column-inner {
    padding-left: 0;

    padding-right: 0;
}

.icon1 {
    color: #D0011B;
    padding-left: 10px;
}


/*vc_shortcodes-custom-css*/
.vc_custom_1564761728966 {
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}

.vc_custom_1607449230309 {
    margin-bottom: 10px !important;
    padding-top: 10px !important;
    padding-right: 0.5% !important;
    padding-bottom: 10px !important;
    padding-left: 0.5% !important;
    background-color: #ffffff !important;
}

.vc_custom_1607449069956 {
    margin-bottom: 10px !important;
    background-color: #ffffff !important;
}

.vc_custom_1607449154738 {
    margin-bottom: 10px !important;
    background-color: #ffffff !important;
}

.vc_custom_1607449240984 {
    margin-bottom: 10px !important;
    background-color: #ffffff !important;
}

.vc_custom_1607449187390 {
    margin-bottom: 10px !important;
    background-color: #ffffff !important;
}

.vc_custom_1607449273831 {
    background-color: #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1607448849913 {
    border-bottom-width: 1px !important;
    border-bottom-color: #e8e8e8 !important;
    border-bottom-style: solid !important;
}
